/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 0.3rem;
}

/* For mobile phones */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.25rem;
    }

    .image-container {
        margin: 10px;
    }

}